@import models.users.User
@(addUserForm: Form[models.users.User], user: User)

@import helper._
@main("Add User", user) {
    <div class="col-sm-4 col-sm-offset-4 text-center">
    <h3>Sign Up</h3>
    @if(addUserForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @addUserForm.globalError.message
        </p>
    }

    @helper.form(action = controllers.routes.SignupController.signupSubmit()) {
        <div class="form-group">
            @inputText(addUserForm("name"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Username")
        </div>
        <div class="form-group">
            @inputText(addUserForm("email"), '_label -> "",'class -> "form-control input-xs", 'placeholder -> "Email")
        </div>
        <div class="form-group">
            @inputPassword(addUserForm("password"), '_label -> "",'class -> "form-control input-xs", 'placeholder -> "Password")
        </div>

    
        <div class="action">
            <input type="submit" value="Add User" class="btn btn-primary">
            <a href="@routes.HomeController.index()"
                <button class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
    </div>
}